.header-wrapper {
  display: flex;

  .search-wrap {
    display: flex;
    align-items: center;
    margin-left: 100px;

    .search-input, .input-group-append {
      height: 34px;
      width: 500px;
    }

    .search-input {
      padding-left: 10px;
    }
  }
}
